@*@model QuizMaster.Models.tbl_questions

    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>StartQuiz</title>
    </head>
    <body>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>tbl_questions</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.q_text, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.q_text, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.q_text, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.QA, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <span>
                            @Html.RadioButtonFor(model => model.QA, new { htmlAttributes = new { @class = "form-control" } })
                            @Model.QA
                        </span>
                        @Html.ValidationMessageFor(model => model.QA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.QB, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <span>@Html.RadioButtonFor(model => model.QB, new { htmlAttributes = new { @class = "form-control" } })
                            @Model.QB
                            </span>
                        @Html.ValidationMessageFor(model => model.QB, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.QC, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <span>
                            @Html.RadioButtonFor(model => model.QC, new { htmlAttributes = new { @class = "form-control" } })
                            @Model.QC
                        </span>
                        @Html.ValidationMessageFor(model => model.QC, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.QD, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.RadioButtonFor(model => model.QD, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.QD, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </body>
    </html>*@

@model QuizMaster.Models.tbl_questions

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StartQuiz</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>



    <hr />
    <h1 style="text-align:center;color:green">Welcome to QuizMaster</h1>

    <hr />

    <hr />
    <h1 style="text-align:center;color:green">Best of Luck:)</h1>

    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="container">
            <div class="row">


                <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">


                    <div class="row">
                        <h1>@Html.DisplayFor(x => x.q_text)</h1>


                    </div>
                    <br />
                    <br />
                    <br />

                    <div class="row">


                        <h5>@Html.RadioButtonFor(x => x.QA, Model.q_id)@Model.QA</h5>

                    </div>

                    <div class="row">


                        <h5>@Html.RadioButtonFor(x => x.QB, Model.q_id)@Model.QB</h5>

                    </div>
                    <div class="row">


                        <h5>@Html.RadioButtonFor(x => x.QC, Model.q_id)@Model.QC</h5>

                    </div>
                    <div class="row">


                        <h5>@Html.RadioButtonFor(x => x.QD, Model.q_id)@Model.QD</h5>

                    </div>

                    <div class="row" style="display:none">

                        @Html.TextBoxFor(x => x.QCorrectAns)

                    </div>


                    <div class="row">
                        <input type="submit" value="submit" class="btn btn-success" />



                    </div>

                </div>


            </div>



        </div>
    }

</body>
</html>
