@model IEnumerable<QuizMaster.Models.tbl_questions>

@{
    ViewBag.Title = "ViewAllQuestions";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>ViewAllQuestions</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.q_text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QCorrectAns)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_category.cat_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.q_text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QCorrectAns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_category.cat_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.q_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.q_id })
            </td>
        </tr>
    }

</table>
