<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    <div class="row">
        <div class="col-lg-2-md-2 col-sm-2 col-xs-2 btn-btn-success" style="height:900px; border:1px solid grey; background-color:grey">
            <div class="list-group">

                <div class="list-group-item">
                    @Html.ActionLink("Add Category", "Add_Category", new { @class = "list-group-item" })
                </div>
                <div class="list-group-item">
                    @Html.ActionLink("Add Questions", "Add_Questions", new { @class = "list-group-item" })
                </div>
                <div class="list-group-item">
                    @Html.ActionLink("Logout", "Logout", new { @class = "list-group-item" })
                </div>
            </div>
                </div>
        <div class="col-lg-10-md-10 col-sm-10 col-xs-10 btn-btn-success" style="height:900px; border:1px solid grey">

        @RenderBody()
    </div>
    </div>
</body>
</html>
